@charset "utf-8";

* {
	margin:0; padding:0;
	box-sizing:border-box;	
}
html, body {
	font:10pt/180% "나눔고딕";
	color:#222328;
}
img {
	max-width:100%;
}

#layout {
	width:1000px; margin:auto;
	border:1px solid red;
	display:flex;
}

/***** 왼쪽 *****/
#left {	
	flex-basis:200px;		
}
/*왼쪽 로고*/
#left> a {
	margin-top:20px; 
	display:block;
}
/*왼쪽 메뉴 */
#left> nav {
	margin-top:20px;
}
#left ol {
	list-style:none;
}
#left ol a {
	display:block;
	text-decoration:none;
	text-align:center;
}
/*메인 메뉴*/
#left li:not(:first-child){
	border-top:1px solid #c26856;
}
#left li> a {
	background:#dfc5b8;
	color:#ac3606; font-size:1.2rem;
	font-weight:bold; padding:10px;
}
#left li:hover> a {
	background:#ac3606;
	color:#dfc5b8;
}

/*하위메뉴 */
#left nav nav {
	background:#e2d7d0;
	padding:5px; padding-bottom:10px;
	display:none;	
}
#left nav nav a {
		padding:6px; color:#a55a3c;
		font-size:1.1rem;
}
#left nav nav a:hover {
		background:#ab6c52; color:#e2d7d0;
		font-weight:bold;
}

/*** JS없이 하위메뉴 보이기
#left li>a:hover + nav{
			display:block;
}
***/



/***************************************/
/***** 오른쪽 *****/
#right {
	
	flex-basis:800px;	
}

/***** 슬라이드 *****/
#slide {
	height:350px;	
}
#slide a{
	position:absolute;
}

/***** 메인(공지사항/갤러리/배너)*****/
main {
	display:flex;	
	height:200px;
	padding-top:30px;	
	overflow:hidden;
}
main h2 {
	background:#b68121; color:white;
	display:inline-block;
	padding:2px 7px;
	font-size:1.1rem;
}
main hr {
	margin-bottom:12px;
}

/*공지사항*/
#notice {
	flex:1.2;	
	margin-right:40px;
}
#notice ol {
	list-style:none;
}
#notice a {
	text-decoration:none;
	color:#222328;
}
#notice a:hover {
	color:#b68121; 
	text-decoration:underline;
}
#notice span {
	float:right;
}

/*갤러리*/
#gallery {
	flex:1.1;	
	margin-right:15px;
}
#gallery div {	
	display:flex;
	justify-content:space-between;
}

/*배너*/
#banner {
	flex:1;	
}
#banner h2 {
	display:none;
}
#banner a {
	float:right;
}

/*****하단 *****/
footer {
	background:#ddd; 	
	height:100px;	
}
footer> p {
	border:0px solid blue;
	padding-top:35px;
	padding-left:30px;
	display:inline-block;
}
footer div {
	float:right;
	border:0px solid red;
	margin:18px;
}
/*SNS아이콘*/
footer img {
	width:35px; border-radius:5px;
}


/***** 팝업 *****/
#popup {
	position:absolute; 
	background:white; 
	box-shadow:1px 1px 5px rgba(0,0,0,  0.5);
	padding:20px;
	border-radius:10px;
	top:30%; left:40%;
	display:none;
}
#popup p {	
	margin:10px 0  100px;
}
#popup button {
	float:right;
}